<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/search">search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/news">news</a>
  </li>
</ul>